
.doctor-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .doctor-card__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  
  .doctor-card__name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .doctor-card__specialty,
  .doctor-card__medical-code {
    margin: 8px 0;
    color: #555;
  }
  

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.DoctorCardButton {
  width: 12rem;
  height: auto;
 }
 
 button.DoctorCardButton .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1B7DCA;
  border-radius: 1.625rem;
 }
 
 button.DoctorCardButton .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.DoctorCardButton .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.DoctorCardButton .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.DoctorCardButton .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #1B7DCA;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }

  /* جدید: چینش افقی city و medicalCode در پایین */
.doctor-bottom {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.doctor-card__city, .doctor-card__avg-rate, .doctor-card__num-comment {
  font-size: 14px;
  color: #666;
  padding: 1px;
}
.doctor-card__city-info{
  direction: rtl;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

}
.doctor-card__score{
  direction: rtl;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.location-icon{
  width: 30px;
  height: 30px;
  margin: auto ;
}
.star-icon{
  width: 20px;
  height: 20px;
  margin: auto ;
}

